{% extends "kids/layout.html" %}

{% block body %}

<div class="container mt-3">
    <div class="row justify-content-center">
    {% if category.name == "Cardigan" %}
        {% for cardigan in cardigans %}
            <div class="col-md-4 mb-3">
                <div class="card shadow" style="line-height: 1rem;">
                    <img class="card-img-top" src={{cardigan.image.url}} alt="Card image cap" height="233rem">
                    <div class="card-body">
                        <div class="card-title text-center">{{cardigan.style}}</div>
                        <p>Description: {{cardigan.description}}</p>
                        <p>Composition: {{cardigan.composition}}</p>
                        <span class="row justify-content-center">
                            <div class="col-sm-4 col-lg-4">
                                <p class="">Gauge: {{cardigan.gauge}}</p>
                            </div>
                            <div class="col-sm-4 col-lg-4">
                                <p class="">Size: {{cardigan.size}}</p>
                            </div>
                            <div class="col-sm-4 col-lg-4">
                                <p class="">Weight:{{cardigan.weight}}</p>
                            </div>
                        </span>
                        <span class="row justify-content-center">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <p class="">{{cardigan.fob}}</p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <p class="">{{cardigan.moq}}</p>
                            </div>    
                        </span>
                    </div>
                </div>   
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
    
{% endblock %}