{% extends 'kids/layout.html' %}
{% load static %}

{% block title %} MEEK | KIDS COLLECTION {% endblock %}

{% block body %}
<div class="container shadow mt-2">
    <h3 class="text-center">Meek Sweater & Fashion Ltd.</h3>
    <hr class="bg-danger">

    <div class="container">
        <h5>MEEK|KIDS</h5>
        <div class="row justify-content-center">
            {% for category in categories %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-header text-center bg-secondary text-white">
                        {{category.name}}
                    </div>
                    <div class="card-body">
                        <img src=../media/{{category.image}} alt="" srcset="" width="200rem" height="200rem">
                    </div>
                    <a href="{% url 'kids:details' category.id %}" class="btn btn-block btn-outline-secondary">See
                        More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container shadow mt-5"><hr class="bg-danger">
    <div class="container">
        <h5>MEEK|LADIES</h5>
        <div class="row justify-content-center">
            {% for category in categories %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-header text-center bg-secondary text-white">
                        {{category.name}}
                    </div>
                    <div class="card-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam obcaecati ducimus rerum maiores,
                        ex deleniti minus consectetur quo delectus quae. Quia!
                    </div>
                    <a href="{% url 'kids:details' category.id %}" class="btn btn-block btn-outline-secondary">See
                        More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



<div class="container shadow mt-5"><hr class="bg-danger">
    <div class="container">
        <h5>MEEK|GENTS</h5>
        <div class="row justify-content-center">
            {% for category in categories %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-header text-center bg-secondary text-white">
                        {{category.name}}
                    </div>
                    <div class="card-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam obcaecati ducimus rerum maiores,
                        ex deleniti minus consectetur quo delectus quae. Quia!
                    </div>
                    <a href="{% url 'kids:details' category.id %}" class="btn btn-block btn-outline-secondary">See
                        More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="mt-5 mb-3">
        <h3 class="text-center">Developed by Meek-IT</h3>
    </div>
</div>
{% endblock %}