{% extends 'kids/base.html' %}

{% block content %}
<div class="container shadow-lg">
    <h3 class="text-center mt-2 ">MEEK | MEN </h3> <hr class="bg-danger">
</div>
<div class="container mt-3">
    <div class="row justify-content-center">
    {% for category in object_list %}
        {% if category.name == 'Cardigan' %}
            <div class="col-md-4 shadow">
                <div class="card ">
                    <img class="card-img-top" src=../../../media/{{category.image}} alt="Card image" height="377rem" width="89rem">
                    <a href="{% url 'men:cardigan-index'%}" class="text-center btn btn-block btn-secondary font-weight-bold" style="text-decoration: wavy; margin-top: -2.5rem;">See Cardigan Collection</a>
                </div>
            </div>
            
        {% elif category.name == "Pullover" %}
            <div class="col-md-4 shadow">
                <div class="card ">
                    <img class="card-img-top" src=../../../media/{{category.image}} alt="Card image" height="377rem" width="89rem">
                    <a href="{% url 'men:pullover-index'%}" class="text-center btn btn-block btn-secondary font-weight-bold" style="text-decoration: wavy; margin-top: -2.5rem;">See Pullover Collection</a>
                </div>
            </div>
            
        {% elif category.name == "Vest" %}
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src=../../../media/{{category.image}} alt="Card image" height="377rem" width="89rem">
                    <a href="{% url 'men:vest-index'%}" class="text-center btn btn-block btn-secondary font-weight-bold" style="text-decoration: wavy; margin-top: -2.5rem;">See Vest Collection</a>
                </div>
            </div>
        {% endif %}
        {% empty %}
            No category found
        {% endfor %}
    </div>
</div>
{% endblock %}