{% extends 'kids/base.html' %}
{% block content %}
<div class="row justify-content-center">
    {% for cardigan in object_list %}
    <div class="col-md-3">
        <div class="card shadow mt-2">
            <img class="card-img-top" src='{{ cardigan.image.url }}' alt="Card image" height="144rem" width="89rem">
            <div class="card-title text-center" style="margin-bottom: -0.3%;"><a style="text-decoration: wavy;" href="{% url 'kids:cardigan-details' cardigan.id  %}">{{cardigan.style}}</a></div>
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">{{cardigan.description}}</li>
                    <li class="list-group-item list-group-item-secondary">{{cardigan.composition}}</li>
                </ul> 
            </div>
        </div>
    </div>
    {% empty %}
        No Cardigan found
    {% endfor %}
</div>
{% endblock %}