{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Meek | Sweater</title>
</head>

<body>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card shadow border border-teal">
                    <div class="card-title text-center">
                        <a class="display-3 text-secondary" style="text-decoration: wavy; letter-spacing: 1.6pt;"
                            href="{% url 'kids:category-index' %}">Kids</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow border border-teal">
                    <div class="card-title text-center">
                        <a class="display-3 text-secondary" style="text-decoration: wavy; letter-spacing: 1.6pt"
                            href="{% url 'men:category-index' %}">Men</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow border border-teal">
                    <div class="card-title text-center">
                        <a class="display-3 text-secondary" style="text-decoration: wavy; letter-spacing: 1.6pt"
                            href="{% url 'women:category-index' %}">Women</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="container">
                    <div class="card shadow border border-teal">
                        <div class="card-body text-center text-secondary display-3">
                            <a class="display-3 text-secondary" style="text-decoration: wavy; letter-spacing: 1.6pt"
                                href="#">More Products</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="container ">
                    <div class="card shadow border border-teal">
                        <div class="card-body text-center text-secondary display-3">
                            <a class="display-3 text-secondary" style="text-decoration: wavy; letter-spacing: 1.6pt"
                                href="admin">Admin Interface</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>